
<button @onclick="AddTeam">Add Team</button>
<button @onclick="RemoveTeam">Remove Team</button>


<div class="d-flex flex-column">
	@foreach (QuizzingTeam team in teams)
	{
		<div class="d-flex gap-2">

			<div class="d-flex">@team.Name</div>
			<div class="d-flex">Score: @team.Score</div>

		</div>
	}
</div>

@code {
	List<QuizzingTeam> teams = new List<QuizzingTeam>();

	void AddTeam()
	{
		teams.Add(new QuizzingTeam());
		teams[teams.Count - 1].Name = $"Team {teams.Count}";

		StateHasChanged();
	}

	void RemoveTeam()
	{
		if (teams.Count > 0)
		{
			teams.Remove(teams[teams.Count - 1]);
			StateHasChanged();
		}
	}
}
